<form action="/replace" method="post">
  <label for="repalce">enter your string</label>
  <input type="text" name="replace" value="">
  <label for="repalce">enter the word that needs to be replaced</label>
  <input type="text" name="s1" value="">
  <label for="repalce">enter the word that used to replace</label>
  <input type="text" name="s2" value="">
  <input type="hidden" name="type" value=@Model >
  <button type="submit">Submit</button>
</form>
