<h1>Find and Replace</h1>
<form class="" action="/ReplaceForm" method="post">
  <button type="click" name="button">Replace</button>
</form>
<form class="" action="/ReplaceWholeWordForm" method="post">
  <button type="click" name="button">Replace Whole Word</button>
</form>
